@charset "utf-8";

body{
    background-color: #c5ebd6;
    align-items: center;
}

:root{
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03:  #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;
    --fonte1: arial, helvetica, sans-serif;
    --fonte2: 'Bebas Nue', cursive;
    --fonte3: 'idroid', sans-serif;
}
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header{
    background-image: linear-gradient(to bottom, #2fa866,#063d1e);
    color: white ;
    margin: -8px;
   
  }
  header > h1{
    text-align: center;
    font-family: Bebas Neue;
    font-weight: normal;
    font-size: 30px;

}
header > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


nav>a{ 
   margin: 10px;
   text-align: right;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-weight: bold;
}
nav>a:hover{
 background-color: #3ddc84;
}
main{
    text-align: center;
    background-color: white;
    width: 800px;
    margin: auto;
   
}
main>h2{
    text-align: left; 
    margin: 10px;
    font-family: idroid;
    color: #1a5c37;

}
main>h3{
    text-align: left;
    background-image: linear-gradient(to right, #c5ebd6, white );
    margin: 10px;
    font-family: idroid;
    color: #1a5c37;
    padding-left: 10px;
}
main>p{
  text-align: justify;
  text-indent: 30px;
  margin: 10px;
}

